<div
  class="app-screenshot"
>
  <h2>
    Date pipe with default settings
  </h2>

  <p>{{ date | skyDate }}</p>

  <h2>
    Date pipe with configurable format and locale
  </h2>

  <p>{{ date | skyDate:format:locale }}</p>

  Locale
  <select
    [(ngModel)]="locale"
  >
    <option *ngFor="let localeItem of localeList">
      {{localeItem}}
    </option>
  </select>

  Format
  <select
    [(ngModel)]="format"
  >
    <option *ngFor="let formatItem of formatList">
      {{formatItem}}
    </option>
  </select>
</div>
