<label
  class="sky-date-range-picker-label"
>
  {{ label }}
  <select
    [disabled]="disabled"
    [(ngModel)]="selectedFormat"
    (blur)="onTouched()"
  >
    <option *ngFor="let format of dateRangeFormats"
      [ngValue]="format"
    >
      {{ format.resourceStringKey | skyLibResources }}
    </option>
  </select>
</label>
<label *ngIf="selectedFormat && selectedFormat.formatType < 3"
  class="sky-date-range-picker-label"
>
  {{ selectedFormat.dateFieldResourceStringKey | skyLibResources }}
  <sky-datepicker #startPicker>
    <input
      placeholder="MM/DD/YYYY"
      [disabled]="disabled"
      [skyDatepickerInput]="startPicker"
      [(ngModel)]="selectedFirstDate"
      (blur)="onTouched()"
    />
  </sky-datepicker>
</label>
<label *ngIf="selectedFormat && selectedFormat.formatType === 0"
  class="sky-date-range-picker-label"
>
  {{ 'skyux_date_range_picker_specific_range_to_field_label' | skyLibResources }}
  <sky-datepicker #endPicker>
    <input
      placeholder="MM/DD/YYYY"
      [disabled]="disabled"
      [skyDatepickerInput]="endPicker"
      [(ngModel)]="selectedSecondDate"
      (blur)="onTouched()"
    />
  </sky-datepicker>
</label>
