@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-date-range-picker {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.sky-date-range-picker-form-group {
  flex: 1 1 auto;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: $sky-screen-xs-max) {
  .sky-date-range-picker {
    flex-direction: column;
  }

  .sky-date-range-picker-form-group {
    margin-bottom: $sky-margin;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
