<label
  class="sky-date-range-picker-label"
>
  {{ label }}
  <select
    class="sky-date-range-picker-input"
    [disabled]="disabled"
    [(ngModel)]="selectedFormat"
    (blur)="onTouched()"
  >
    <option *ngFor="let format of dateRangeFormats"
      [ngValue]="format"
    >
      {{ format.resourceStringKey | skyLibResources }}
    </option>
  </select>
</label>
<label *ngIf="displayFirstDatepicker"
  class="sky-date-range-picker-label"
>
  {{ selectedFormat.dateFieldResourceStringKey | skyLibResources }}
  <sky-datepicker
    class="sky-date-range-picker-input"
    #startPicker
  >
    <input
      [dateFormat]="dateFormat"
      [disabled]="disabled"
      [skyDatepickerInput]="startPicker"
      [(ngModel)]="selectedFirstDate"
      (blur)="onTouched()"
    />
  </sky-datepicker>
</label>
<label *ngIf="displaySecondDatepicker"
  class="sky-date-range-picker-label"
>
  {{ 'skyux_date_range_picker_specific_range_to_field_label' | skyLibResources }}
  <sky-datepicker
    class="sky-date-range-picker-input"
    #endPicker
  >
    <input
      [dateFormat]="dateFormat"
      [disabled]="disabled"
      [skyDatepickerInput]="endPicker"
      [(ngModel)]="selectedSecondDate"
      (blur)="onTouched()"
    />
  </sky-datepicker>
</label>
