@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

:host() {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 75px;
}

.sky-date-range-picker-input {
  margin-top: 5px;
}

.sky-date-range-picker-invalid {
  box-shadow: 1 0 8px rgba(239, 64, 68, 0.6);
  border: 1px solid #ef4044;
  outline: none;
}

@media (max-width: $sky-screen-sm-min) {
  :host() {
    flex-direction: column
  }

  .sky-date-range-picker-label {
    margin-bottom: 10px;
  }
  .sky-date-range-picker-label:last-of-type {
    margin-bottom: 0;
  }
}

.sky-date-range-picker-label {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 10px;
}
