<div class="sky-date-range-picker">

  <div class="sky-date-range-picker-form-group">
    <label
      class="sky-control-label"
      [attr.for]="dateRangePickerId + '-select-format'"
    >
      {{ label }}
    </label>

    <select
      class="sky-form-control"
      [attr.id]="dateRangePickerId + '-select-format'"
      [disabled]="disabled"
      (change)="onSelectionChange($event)"
    >
      <option *ngFor="let dateRangeOption of dateRangeOptions"
        [value]="dateRangeOption.dateRangeType"
        [selected]="value.dateRangeType === dateRangeOption.dateRangeType"
      >
        {{ dateRangeOption.caption }}
      </option>
    </select>
  </div>

  <div *ngIf="displayFirstDatepicker"
    class="sky-date-range-picker-form-group"
  >
    <label
      class="sky-control-label"
      [attr.for]="dateRangePickerId + '-first-date'"
    >
      {{ selectedFormat.dateFieldResourceStringKey | skyLibResources }}
    </label>

    <sky-datepicker
      #startPicker
    >
      <input
        [attr.id]="dateRangePickerId + '-first-date'"
        [dateFormat]="dateFormat"
        [disabled]="disabled"
        [ngClass]="{
          'ng-invalid': isInvalidRange && !disabled
        }"
        [skyDatepickerInput]="startPicker"
        [ngModel]="value.startDate"
        (change)="onStartDateChange($event)"
      />
    </sky-datepicker>
  </div>

  <div *ngIf="displaySecondDatepicker"
    class="sky-date-range-picker-form-group"
  >
    <label
      class="sky-control-label"
      [attr.for]="dateRangePickerId + '-second-date'"
    >
      {{ 'skyux_date_range_picker_specific_range_to_field_label' | skyLibResources }}
    </label>

    <sky-datepicker
      #endPicker
    >
      <input
        [attr.id]="dateRangePickerId + '-second-date'"
        [dateFormat]="dateFormat"
        [disabled]="disabled"
        [ngClass]="{
          'ng-invalid': isInvalidRange && !disabled
        }"
        [skyDatepickerInput]="endPicker"
        [ngModel]="value.endDate"
        (change)="onEndDateChange($event)"
      />
    </sky-datepicker>

    <!-- <div *ngIf="isInvalidRange && !disabled"
      class="sky-error-label"
    >
      {{ 'skyux_date_range_picker_invalid_range_error_label' | skyLibResources }}
    </div> -->
  </div>

</div>
