<div
  class="date-range-demo"
>
  <!-- <h2>
    Templated date range picker
  </h2>

  <form
    id="screenshot-date-range-picker"
    #form="ngForm"
  >
    <div class="sky-form-group">
      <label class="sky-control-label">First name</label>
      <input type="text" class="sky-form-control" [disabled]="disabled">
    </div>

    <div class="sky-form-group">
      <sky-date-range-picker
        dateFormat="DD/MM/YYYY"
        label="Last donation"
        name="donation"
        [disabled]="disabled"
        [(ngModel)]="value"
      >
      </sky-date-range-picker>
    </div>

    <div class="sky-form-group">
      <label class="sky-control-label">Last name</label>
      <input type="text" class="sky-form-control" [disabled]="disabled">
    </div>
  </form>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="toggleDisabled()"
  >
    Toggle disabled
  </button>

  <br>
  <strong>
    Form value:
  </strong>
  <br>

  <pre>{{ value | json }}</pre>

  <h2>
    Reactive date range picker
  </h2> -->

  <form
    novalidate
    [formGroup]="reactiveForm"
  >
    <div class="sky-form-group">
      <label>Name</label>
      <input class="sky-form-control" type="text" formControlName="constituentName" />
      <div *ngIf="constituentName.touched && constituentName.invalid"
        class="sky-error-label"
      >
        {{constituentName.errors|json}}
      </div>
    </div>

    <div class="sky-form-group">
      <sky-date-range-picker
        formControlName="lastDonation"
        label="Last donation"
        [calculatorIds]="calculatorIds"
      >
      </sky-date-range-picker>
    </div>

    <div class="sky-form-group">
      <button
        class="sky-btn"
        type="button"
        (click)="submit()"
      >
        Submit
      </button>
    </div>
  </form>

  <table>
    <tr>
      <th>Touched</th>
      <td>{{ reactiveRange.touched }}</td>
    </tr>
    <tr>
      <th>Pristine</th>
      <td>{{ reactiveRange.pristine }}</td>
    </tr>
    <tr>
      <th>Valid</th>
      <td>{{ reactiveRange.valid }}</td>
    </tr>
  </table>

  <!-- <p *ngIf="reactiveRange.errors"
    class="sky-error-label"
  >
    {{ reactiveForm.errors | json }}
    <span *ngIf="reactiveRange.errors.skyDate?.invalid">
      Please enter a valid date.
    </span>

    <span *ngIf="reactiveDate.errors.skyDate?.minDate">
      Date is prior to minimum date range.
    </span>

    <span *ngIf="reactiveDate.errors.skyDate?.maxDate">
      Date is after maximum date range.
    </span>
  </p> -->

  <p>
    Model value: <code>{{ reactiveForm.value | json }}</code>
  </p>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="toggleDisabled()"
  >
    Toggle disabled
  </button>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="resetForm()"
  >
    Reset form
  </button>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="setRange()"
  >
    Set specific range
  </button>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="setCalculatorIds()"
  >
    Set custom calculators
  </button>
</div>
