<div class="sky-datepicker">
  <div class="sky-input-group">
    <ng-content></ng-content>

    <button
      aria-haspopup="true"
      class="sky-btn sky-btn-default sky-input-group-btn sky-input-group-datepicker-btn"
      type="button"
      [attr.aria-controls]="calendarId"
      [attr.aria-expanded]="isOpen"
      [attr.aria-label]="'skyux_datepicker_trigger_button_label' | skyLibResources"
      [attr.id]="triggerButtonId"
      [attr.title]="'skyux_datepicker_trigger_button_label' | skyLibResources"
      [disabled]="disabled"
      (click)="onTriggerButtonClick()"
      #triggerButtonRef
    >
      <sky-icon
        icon="calendar"
        size="lg"
      ></sky-icon>
    </button>
  </div>
</div>

<ng-template #calendarTemplateRef>
  <div
    class="sky-datepicker-calendar-container sky-shadow"
    [attr.aria-labelledby]="triggerButtonId"
    [attr.id]="calendarId"
    [ngClass]="{
      'sky-datepicker-hidden': !isVisible
    }"
    #calendarRef
  >
    <sky-datepicker-calendar
      [maxDate]="maxDate"
      [minDate]="minDate"
      [startingDay]="startingDay"
      (calendarModeChange)="onCalendarModeChange()"
      (selectedDateChange)="onSelectedDateChange($event)"
    >
    </sky-datepicker-calendar>
  </div>
</ng-template>
