@import "~@skyux/theme/scss/mixins";

.sky-input-group-datepicker-btn {
  border-radius: 0;
}

.sky-datepicker-calendar-container {
  position: fixed;
  border-radius: 5px;
}

.sky-datepicker-hidden {
  visibility: hidden;
}
