@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/variables";

@include sky-theme-modern {
  :host:focus {
    outline: none;
  }
}

.sky-datepicker-btn-disabled {
  font-style: italic;
}

.sky-datepicker-btn-important {
  padding-bottom: 0px !important;
}

.sky-datepicker-important-date-indicator {
  height: 5px;
  width: 5px;
  background-color: #D93A3D;
  border-radius: 50%;
  margin: -1px 0px 1px 5px;
}
