<div
  *ngIf="hasTooltip"
  (mouseenter)="onDayMouseenter($event)"
  (mouseleave)="onDayMouseleave($event)"
  [skyPopover]="dayInfoPopover"
  skyPopoverPlacement="left"
  [skyPopoverMessageStream]="popoverController"
  [attr.aria-label]="date.importantText"
>
  <sky-daypicker-button
    [date]="date"
    [datepicker]="datepicker"
  >
  </sky-daypicker-button>
  <sky-popover
    #dayInfoPopover
    (popoverClosed)="onPopoverClosed($event)"
    (popoverOpened)="onPopoverOpened($event)"
  >
    {{date.importantText}}
  </sky-popover>
</div>
<div
  *ngIf="!hasTooltip"
  (mouseenter)="onDayMouseenter($event)"
  (mouseleave)="onDayMouseleave($event)"
>
  <sky-daypicker-button
    [date]="date"
    [datepicker]="datepicker"
  >
  </sky-daypicker-button>
</div>

