<div
  class="app-screenshot"
  id="screenshot-datepicker-calendar"
  style="display: inline-block;"
>
  <sky-datepicker-calendar
    [selectedDate]="selectedDate"
    (selectedDateChange)="selectedDate = $event"
    #datepicker
  >
  </sky-datepicker-calendar>
</div>

<div
  class="app-screenshot"
  id="screenshot-datepicker"
>
  <h2
    class="sky-section-heading"
  >
    Template-driven datepicker
  </h2>
  <sky-datepicker #picker>
    <input
      [disabled]="disabled"
      [maxDate]="maxDate"
      [minDate]="minDate"
      [skyDatepickerInput]="picker"
      [skyDatepickerNoValidate]="noValidate"
      [(ngModel)]="selectedDate"
      #date="ngModel"
    />
  </sky-datepicker>

  <p *ngIf="date.errors && date.errors.skyDate && (date.dirty || date.touched)"
    class="sky-error-label"
  >
    <span [hidden]="!date.errors.skyDate.invalid">
      Please enter a valid date.
    </span>

    <span [hidden]="!date.errors.skyDate.minDate">
      Date is prior to minimum date range.
    </span>

    <span [hidden]="!date.errors.skyDate.maxDate">
      Date is after maximum date range.
    </span>
  </p>

  <p>
    Selected date is {{ selectedDate }}
  </p>
</div>

<div
  class="app-screenshot"
>
  <h2
    class="sky-section-heading"
  >
    Reactive datepicker
  </h2>

  <form
    novalidate
    [formGroup]="reactiveForm"
  >
    <sky-datepicker #reactivePicker>
      <input
        formControlName="selectedDate"
        type="text"
        [maxDate]="maxDate"
        [minDate]="minDate"
        [skyDatepickerInput]="reactivePicker"
        [skyDatepickerNoValidate]="noValidate"
      />
    </sky-datepicker>

    <p *ngIf="reactiveDate.errors && (reactiveDate.dirty || reactiveDate.touched)"
      class="sky-error-label"
    >
      <span [hidden]="!reactiveDate.errors.skyDate.invalid">
        Please enter a valid date.
      </span>

      <span [hidden]="!reactiveDate.errors.skyDate.minDate">
        Date is prior to minimum date range.
      </span>

      <span [hidden]="!reactiveDate.errors.skyDate.maxDate">
        Date is after maximum date range.
      </span>
    </p>

    <p>
      Selected date is {{ reactiveForm.value.selectedDate }}
    </p>
  </form>

  <p>
    <button
      class="sky-btn"
      type="button"
      (click)="setMinMaxDates()"
    >
      Set min and max dates
    </button>
    <button
      class="sky-btn"
      type="button"
      (click)="toggleDisabled()"
    >
      Toggle disabled
    </button>
  </p>
</div>
