<div style="display: inline-block" id="screenshot-datepicker-calendar">
  <sky-datepicker-calendar
    #datepicker
    [selectedDate]="selectedDate"
    (selectedDateChange)="selectedDate = $event">
  </sky-datepicker-calendar>
</div>

<div style="max-width: 50%; height: 500px;" id="screenshot-datepicker">
  <sky-datepicker #picker>
    <input
      [(ngModel)]="selectedDate"
      [skyDatepickerInput]="picker" />
  </sky-datepicker>
  <div>
    Selected date is {{ selectedDate }}
  </div>
</div>


<h2
  class="sky-section-heading"
>
  Reactive form datepicker
</h2>

<form
  novalidate
  style="max-width: 50%; height: 500px;"
  [formGroup]="reactiveForm"
>
  <sky-datepicker #reactivePicker>
    <input
      formControlName="selectedDate"
      [skyDatepickerInput]="reactivePicker"
      [minDate]="minDate"
      [maxDate]="maxDate"
    />
  </sky-datepicker>

  <div *ngIf="reactiveDate.errors && (reactiveDate.dirty || reactiveDate.touched)"
    class="sky-error-label"
  >
    <p *ngIf="reactiveDate.errors.required">
      This date is required. Please supply a value.
    </p>
    <p *ngIf="reactiveDate.errors.skyDate">
      The date you have entered is invalid. Please enter a valid date or use the picker.
    </p>
  </div>

  <div>
    Reactive form selected date is {{ reactiveDate.value }}
  </div>
</form>
